form
{
    border: 3px solid black;
    width: 268px;
    height: 240px;
    margin: 100px 0 0 100px;
    text-align: center;
    padding:10px;
    font-size: 20px;
    font-style: italic;
    border-radius: 20px;
    background-image: url(/css/image/iceland-4260053__340.jpg);
    color: rgb(19, 46, 48);

}
body
{
    background-image: url(/css/image/iceland-4260053__340.jpg) ;
    background-size: cover;
}
input[type="text"],input[type="password"]{
    width: 250px;
    height: 25px;
    border: 3px solid rgb(114, 89, 105);
    border-radius: 10px;
    text-align: center;
    
}
input[type="text"] :focus,input[type="password"]:focus{
    outline: none;
}
input[type="submit"]{
    margin-top: 10px;
    padding: 5px 5px;
    border-radius: 10px;
    background-color: lightcoral;
    outline: none;
    color: brown;
}
input[type="submit"]:hover{
    color: black;
    background-color: crimson;
    border : 20px rgb(0, 0, 0);
}
