<p>form4 works!</p>

<form action="" class="col-md-4 offset-4 mt-5 mb-5 card card-body" #form="ngForm" (ngSubmit)="loginData(form)">
        <h1 class="text-center bg-dark text-white">Form4</h1>
        <div class="form-group">
            <input type="text" name="proname" id="proname" class="form-control" placeholder="Product Name" #proname="ngModel" ngModel required>
            <div *ngIf="proname.touched &&  proname.invalid">
                <p class="alert alert-danger" *ngIf="proname.errors.required">This field is mandatory!</p>
            </div>
        </div>
        <div class="form-group">
                <input type="text" name="price" id="price" class="form-control" placeholder="Price" #price="ngModel" ngModel required>
                <div *ngIf="price.touched && price.invalid">
                    <p class="alert alert-danger" *ngIf="price.errors.required">This field is mandatory!</p>
                </div>
            </div>
            
    
        
            
          
        
    
        <div class="form-group">
            <input type="text" name="details" id="details" class="form-control" placeholder="Product Description" #details="ngModel" ngModel required>
            <div *ngIf="details.touched && details.invalid">
                <p class="alert alert-danger" *ngIf="details.errors.required">This field is mandatory!</p>
            </div>
        </div>
        <div class="form-group">
            <input type="url" name="img" id="img" class="form-control" placeholder="Product image URL" #img="ngModel" ngModel required>
            <div *ngIf="img.touched && img.invalid">
                <p class="alert alert-danger" *ngIf="img.errors.required">This field is mandatory!</p>
            </div>
        
        
            </div>
        <div class="form-group">
            <button type="submit" class="btn btn-outline-success float-right" [disabled]="form.invalid">ADD PRODUCT</button>
        </div>
    
    </form>
